<div class="jumbotron">
  <h1>Life Rocks!</h1>
  <%= form_for User.new do |f| %>
    <%=f.text_field :email, placeholder: "Email Address" %>
    <%=f.submit "Make Me Happy!", class:"btn btn-primary btn-lg"%>
  <% end%>

</div>